body {
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#F4F4F4;
}

header {
    background:#0B5D3B;
    color:white;
    padding:25px;
    text-align:center;
}

.container {
    max-width:900px;
    margin:auto;
    padding:20px;
}

.card {
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

button {
    background:#C8A951;
    color:white;
    padding:12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

input, select {
    width:100%;
    padding:10px;
    margin:8px 0;
}

.progress-bar {
    background:#ddd;
    border-radius:10px;
    overflow:hidden;
}

.progress-fill {
    background:#0B5D3B;
    height:10px;
}